<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Course List</h1>
        <table border="1">
            <tr>
                <td>Course ID</td>
                <td>Title</td>
                <td>Course Credit</td>
                <td>Tutorial Full Marks</td>
                <td>Attendance Full Marks</td>
                <td>Final Full Marks</td>
                <td>Action</td>
            </tr>
            {% for cors in all_courses %}
            <tr>
                <td>{{cors.course_id}}</td>
                <td>{{cors.course_name}}</td>
                <td>{{cors.course_credit}}</td>
                <td>{{cors.tutorial_full_marks}}</td>
                <td>{{cors.att_full_marks}}</td>
                <td>{{cors.final_full_marks}}</td>
                <td>
                    <a href="{% url 'edit' cors.id %}">EDIT</a>
                    <a href="{% url 'remove' cors.id %}">DELETE</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <a href="#">Add new course</a>
    
</body>
</html>